* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

/* PAGE */
body {
  background: #f9fafb;
  color: #111827;
}

/* CONTAINER */
.container {
  max-width: 420px;
  margin: 60px auto;
  padding: 20px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #e8e9f1;
  height: 50px;
  padding-top: 14px;
  border-radius: 12px;
  
}

.header h1 {
  font-size: 16px;
  font-weight: 600;
  color : #111827;
}

.header p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 8px;
}

/* CARD */
.upload-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.upload-image {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #27884a;
  height:45px;
  border-radius: 12px;
  text-align: center;
  padding-top:12px;
  font-weight: 600;
}

/* IMAGE PREVIEW */
.image-preview {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  border: 2px dashed #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INPUT */
input[type="file"] {
  font-size: 14px;
}

/* BUTTON */
.primary-btn {
  background: #27884a;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: not-allowed;
  opacity: 0.6;
}

.primary-btn:enabled {
  cursor: pointer;
  opacity: 1;
}
